
<h2>CreateUpdateAvengerRequestBody</h2>
<ul class="parameter">
  <li class="param-required-false">id : Integer
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">nombre : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">edad : Integer
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">id_genero : Integer
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">imagen : byte[]
    <br/>
  </li>
</ul>
