
<h2>ErrorModel_error</h2>
<ul class="parameter">
  <li class="param-required-false">message : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">parameters : Object
    <br/>
  </li>
</ul>
