
<h2>ErrorModel</h2>
<ul class="parameter">
  <li class="param-required-false">valid : Boolean
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">error : errorModel_error
    <br/>
  </li>
</ul>
