
<h2>Inline_response_200</h2>
<ul class="parameter">
  <li class="param-required-false">valid : Boolean
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">data : List
    <br/>
  </li>
</ul>
