
<h2>Inline_response_200_1</h2>
<ul class="parameter">
  <li class="param-required-false">valid : Boolean
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">data : CreateUpdateAvengerRequestBody
    <br/>
  </li>
</ul>
