<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="addAvenger"></a>addAvenger</h2>
  <hr>
  <p></p>
  <p>Crea un avenger nuevo en la base de datos. El ID no se recibe en el body porque es autogenerado en la base de datos. Se debe validar que la imagen sea base64 y debe ser guardada en un S3 y guardar el URL en la base de datos en vez de la imagen en base64, este mismo proceso aplica para el update de la imagen </p>
  <h3 class="section">URL</h3>
  <code>http://localhost:8081/avengers</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_201"><a href="">inline_response_201</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">body</span>
      <span class="param-type">CreateUpdateAvengerRequestBody(CreateUpdateAvengerRequestBody)</span>
      
      <p class="param-description">Body para crear un avenger</p>
	  </li>
  </ul>
  <h2><a name="deleteAvenger"></a>deleteAvenger</h2>
  <hr>
  <p></p>
  <p>Borra un avenger mediante un ID dado</p>
  <h3 class="section">URL</h3>
  <code>http://localhost:8081/avengers</code>
  <h3 class="section">HTTP Method</h3>
  <code>DELETE</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_200_2"><a href="">inline_response_200_2</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">avengerId</span>
      <span class="param-type">Integer</span>
      
      <p class="param-description">ID numerico del avenger a eliminar</p>
	  </li>
  </ul>
  <h2><a name="getAvengers"></a>getAvengers</h2>
  <hr>
  <p></p>
  <p>Trae un listado de avengers el cual puede ser filtrado por nombre,ID, un rango de edades o genero. Asimimo la imagen debe venir como un URL y no en base64. </p>
  <h3 class="section">URL</h3>
  <code>http://localhost:8081/avengers</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_200"><a href="">inline_response_200</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">avengerId</span>
      <span class="param-type">Integer</span>
      
      <p class="param-description">ID numerico del avenger a filtrar</p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">nombre</span>
      <span class="param-type">String</span>
      
      <p class="param-description">Nombre del avenger a filtrar. Se busca por LIKE.</p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">genero</span>
      <span class="param-type">Integer</span>
      
      <p class="param-description">ID numerico del genero a buscar. 0 Indefinido, 1 Masculino, 2 Femenino</p>
	  </li>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">rangoEdad</span>
      <span class="param-type">List(Integer)</span>
      
      <p class="param-description">Filtra por un rango de edades. Ej: [20,353] filtra edades que esten entre 20 y 353 </p>
	  </li>
  </ul>
  <h2><a name="updateAvenger"></a>updateAvenger</h2>
  <hr>
  <p></p>
  <p>Actualizada un avenger dado un ID. Se debe buscar el avenger por id y actualizarlo </p>
  <h3 class="section">URL</h3>
  <code>http://localhost:8081/avengers</code>
  <h3 class="section">HTTP Method</h3>
  <code>PUT</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="inline_response_200_1"><a href="">inline_response_200_1</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">body</span>
      <span class="param-type">AvengerModel(AvengerModel)</span>
      
      <p class="param-description">Body para el update de un avenger</p>
	  </li>
  </ul>
</div>
